<!DOCTYPE html>
<html lang="en" ng-app="ShopApp">
<head>
    <meta charset="UTF-8">
    <title>Day18</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
</head>
<body ng-controller="ShopCtrl as ctrl">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    Genie App
                </a>
            </div>
        </div>
    </nav>
    <div class="container">
        <form ng-submit="ctrl.addToCart()">
            <div class="form-group">
                <label for="name">Item</label>
                <input class="form-control" type="text" id="name" ng-model="ctrl.newItem.name">
            </div>
            <div class="form-group">
                <label for="quantity">Quantity</label>
                <input class="form-control" type="number" id="quantity" ng-model="ctrl.newItem.quantity">
            </div>
            <div class="form-group">
                <label for="User ID">User ID</label>
                <input class="form-control" type="number" id="User ID" ng-model="ctrl.newItem.userId">
            </div>
            <div class="form-group">
                <button class="btn btn-default" type="submit">Add</button>
                <button class="btn btn-error" type="button" ng-click="ctrl.checkout()">Checkout</button>
                <button class="btn btn-success" type="button" ng-click="ctrl.refreshCart()">Refresh</button>
            </div>
        </form>

        <div class="alert" role="alert" alert-dismissable ng-show="ctrl.msg">
            <button class="close" data-dismiss="alert">&times;</button>
            {{ ctrl.msg }}
        </div>

        <ul class="list-group">
            <li class="list-group-item" ng-repeat="i in ctrl.cart">
                {{ i.name }} &times; {{ i.quantity }}
            </li>
        </ul>
    </div>
    <!--<div class="container">-->
        <!--<h1>Shopping Time!!!</h1>-->
    	<!--<form name="shopForm" novalidate ng-submit="" autocomplete="off">-->
            <!--<div class="form-group">-->
                <!--<label for="name">Name:</label>-->
                <!--<input type="text" id="name" name="name" class="form-control"-->
                       <!--ng-model="" required>-->
                <!--<span class="help-block" ng-show="shopForm.name.$invalid">Please enter name</span>-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<label for="quantity">Quantity:</label>-->
                <!--<input type="number" id="quantity" name="quantity" class="form-control"-->
                       <!--ng-model="" required>-->
                <!--<span class="help-block" ng-show="shopForm.number.$invalid">Please enter quantity</span>-->
            <!--</div>-->
            <!--<div class="form-group form-inline">-->
                <!--<button type="submit" class="btn-group-sm btn-primary form-control" ng-disabled="shopForm.$invalid">Add</button>-->
                <!--<button ng-click="" class="btn-group-sm btn-primary form-control" ng-disabled="shopForm.$invalid"><a href="#"></a>Refresh</button>-->
                <!--<button ng-click="" class="btn-group-sm btn-primary form-control" ng-disabled="shopForm.$invalid">Checkout</button>-->
            <!--</div>-->
    	<!--</form>-->
    <!--</div>-->
    <!--<div ui-view></div>-->
</body>
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script type="text/javascript" src="index.js"></script>
    <!--<script type="text/javascript" src="route.js"></script>-->
    <script type="text/javascript" src="controller.js"></script>
    <script type="text/javascript" src="service.js"></script>
</html>